# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

In [100]:
data = pd.read_csv("/Users/ijiseon/Desktop/abalone (2).csv")
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

**1) 데이터 load 및 변형**

In [101]:
# 데이터 로드
data = pd.read_csv("/Users/ijiseon/Desktop/abalone (2).csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [102]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

In [105]:
train = data.copy()

In [106]:
train = train.replace({"I":False},0)
train = train.replace({"I":True},1)

train = train.replace({"F":False},0)
train = train.replace({"F":True},1)

train = train.replace({"M":False},0)
train = train.replace({"M":True},1)

In [107]:
train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,1,0,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,1,0,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0,1,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,1,0,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0,0,1

In [108]:
train_x = train.drop(["Rings"],axis=1)
train_y = train["Rings"]

In [109]:
# X,y 데이터 선택
y1 = train_y.copy()

X1 = train_x.copy()

 **3) train/test set 분리**

In [110]:
# train과 test set 분리 (train:test = 7:3 비율로)
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X1,y1, test_size=0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [90]:
from sklearn.linear_model import LinearRegression

In [112]:
# 모델 예측치 구하기

model1 = LinearRegression()
model1.fit(X_train,y_train)
model1_pred = model1.predict(X_test)

In [121]:
age = model1_pred+1.5
age

array([14.34106481, 17.72461104, 11.15085941, ...,  7.61422971,
       11.36802674, 12.74830426])

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [113]:
from sklearn.metrics import r2_score, mean_squared_error

- MSE, RMSE

In [114]:
#mse, rmse
mse = mean_squared_error(model1_pred,y_test)
mse = round(mse,5)
print("mse:",mse)
print("rmse:",np.sqrt(mse))

mse: 4.42339
rmse: 2.1031856789166286

- R2 score

In [116]:
#R2 score 측정
r2_score(y_test,model1_pred)

0.5349666717076209

In [129]:
#level 수 -1 로 했을 때 

X2 = train.drop(["Rings","M"],axis=1)
Y2 = train["Rings"]

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2,y2, test_size=0.3)

model2 = LinearRegression()
model2.fit(X_train2,y_train2)
model2_pred = model2.predict(X_test2)

r2_score(y_test2,model2_pred)

0.5541046830886038

- 회귀 절편값

In [118]:
#회귀 절편 값
model1.intercept_

3.7395889896670704

- 회귀 계수 값

In [119]:
#회귀 계수 값
model1.coef_

array([ -0.59508271,  11.4545399 ,   8.36159907,   8.27304753,
       -19.48157386,  -8.60820936,   9.93131479,   0.28955795,
         0.28348402,  -0.57304197])

- 상관계수

Hint: corr 함수 이용.

In [123]:
df=pd.DataFrame(train_x)
df.corr()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,M,F,I
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.236543,0.309666,-0.551465
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.240376,0.318626,-0.564315
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.215459,0.298421,-0.518552
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.252038,0.299741,-0.557592
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.251793,0.263991,-0.521842
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.242194,0.308444,-0.556081
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.235391,0.306319,-0.546953
M,0.236543,0.240376,0.215459,0.252038,0.251793,0.242194,0.235391,1.000000,-0.512528,-0.522541
F,0.309666,0.318626,0.298421,0.299741,0.263991,0.308444,0.306319,-0.512528,1.000000,-0.464298
I,-0.551465,-0.564315,-0.518552,-0.557592,-0.521842,-0.556081,-0.546953,-0.522541,-0.464298,1.000000

# **2. Polynomial features**

In [124]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [125]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [127]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환
pn=PolynomialFeatures(degree=2)
pn_df=pn.fit_transform(df)
pn_df=pd.DataFrame(pn_df)
pn_df

     0    1    2     3     4     5
0  1.0  0.0  1.0   0.0   0.0   1.0
1  1.0  2.0  3.0   4.0   6.0   9.0
2  1.0  4.0  5.0  16.0  20.0  25.0

In [128]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
pn_df.columns=['1','x1','x2','x1^2','x1*x2','x2^2']
pn_df

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0